/* button */
button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:not(:disabled):active {
  box-shadow: inset 0 4px 8px #ffffffea;
  transform: translate(2px, 4px);
}

button:disabled {
  background-color: #eaeaea !important;
  color: #bbbbbb !important;
}

button:disabled:hover {
  opacity: unset !important;
}

/* overflow scroll bars */
::-webkit-scrollbar {
  width: 44px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}