/* button */
button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:not(:disabled):active {
  box-shadow: inset 0 0.12rem 0.24rem #ffffffea;
  transform: translate(0.06rem, 0.12rem);
}

button:disabled {
  background-color: #eaeaea !important;
  color: #bbbbbb !important;
}

button:disabled:hover {
  opacity: unset !important;
}

button.auxiliary,
.button.auxiliary {
  padding: 0.1rem 0.8rem;
  background-color: #636363 !important;
  color: #ffffff !important;
  border-radius: 0.12rem;
}

button.auxiliary:active,
.button.auxiliary:active {
  box-shadow: inset 0 0.12rem 0.24rem #727272ea;
}

/* overflow scroll bars */
::-webkit-scrollbar {
  width: 1.4rem;
  height: 1.0rem;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #878787;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}